@mixin ratio-bg-image($url, $ext, $ratio, $webp: false) {
  @media
  not screen and (-webkit-min-device-pixel-ratio: 2)     ,
  not screen and (        min-device-pixel-ratio: 2)     ,
  not screen and (                min-resolution: 192dpi),
  not screen and (                min-resolution: 2dppx) {
    @if $webp {
      background-image: url("#{$url}@1x.#{$ext}");
    } @else {
      background-image: url("#{$url}.#{$ext}");
    }
  }

  @if $ratio > 1 {
    @media
    only screen and (-webkit-min-device-pixel-ratio: 2)      and (-webkit-max-device-pixel-ratio: 2.9),
    only screen and (        min-device-pixel-ratio: 2)      and (        max-device-pixel-ratio: 2.9),
    only screen and (                min-resolution: 192dpi) and (                max-resolution: 287dpi),
    only screen and (                min-resolution: 2dppx)  and (                max-resolution: 2.9dppx){
      background-image: url("#{$url}@2x.#{$ext}");
    }
  }
  @if $ratio > 2 {
    @media
    only screen and (-webkit-min-device-pixel-ratio: 3)     ,
    only screen and (        min-device-pixel-ratio: 3)     ,
    only screen and (                min-resolution: 288dpi),
    only screen and (                min-resolution: 3dppx) {
      background-image: url("#{$url}@3x.#{$ext}");
    }
  }
}

@mixin webp($select, $url, $ext, $ratio: 3) {
  .no-webp #{$select}{
    @include ratio-bg-image($url, $ext, $ratio)
  }
  .webp #{$select}{
    @include ratio-bg-image($url, 'webp', $ratio, true)
  }
}


// 1px线
@mixin one-px ($select, $color, $type: h, $radius: initial) {
  @media
  not screen and (-webkit-min-device-pixel-ratio: 2)     ,
  not screen and (        min-device-pixel-ratio: 2)     ,
  not screen and (                min-resolution: 192dpi),
  not screen and (                min-resolution: 2dppx) {
    #{$select} {
      @if $type == h {
        border-top: 1px solid $color;
      } @else if $type == v {
        border-left: 1px solid $color;
      } @else if $type == all {
        border: 1px solid $color;
      }
      border-radius: $radius;
    }
  }

  @media
  screen and (-webkit-min-device-pixel-ratio: 2)     ,
  screen and (        min-device-pixel-ratio: 2)     ,
  screen and (                min-resolution: 192dpi),
  screen and (                min-resolution: 2dppx) {
    #{$select} {
      position: relative;
      @if $type == h {
        border-top: 1px solid transparent;
      } @else if $type == v {
        border-left: 1px solid transparent;
      } @else if $type == all {
        border: 1px solid transparent;
      }
    }
    #{$select}:before {
      content: '';
      display: block;
      position: absolute;
      border-radius: $radius;
      @if $type == h {
        top: -1px;
        left: 0;
        right: 0;
        border-top: 1px solid $color;
        transform: scaleY(0.5);
      } @else if $type == v {
        top: 0;
        left: -1px;
        bottom: 0;
        border-left: 1px solid $color;
        transform: scaleX(0.5);
      } @else if $type == all {
        top: calc(-1px - 50%);
        left: calc(-1px - 50%);
        right: calc(-1px - 50%);
        bottom: calc(-1px - 50%);
        border: 1px solid $color;
        transform: scale(0.5);
      }
    }
  }
}

