body {
  background-color: #EEE;
  padding: 0;
  margin: 0;
}
.content{
  background-color: yellowgreen;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.safe-bar{
  width: 100%;
  background-color: indianred;
  height: env(safe-area-inset-bottom);
  margin-top: auto;
}